{% extends 'admin/master.html' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">PeptoidDB Admin</h1>
    <p>Peptoid Data Bank - Administration portal</p>
    <hr class="my-4" />
    <p style="font-size: 1.25rem; font-weight: 300;">
        Here is the portal for administering the Peptoid Data Bank. Administrators have access to views titled
        <code>Peptoid</code>, <code>Residue</code>, and <code>Author</code> which will allow the administrator to
        create, read, update, and delete peptoids, residues, and authors from the database. In addition to these
        functions for adding in new published data, it is important to add images of any new peptoid crystal structures
        or residues in order to maintain the appearance of the website, which is why administrators can do just that by
        uploading <em>.png</em> images after clicking on <code>Peptoid Images</code> or <code>Residue Images</code> in
        the navigation bar on top. For major updates that cannot be made in this administrative portal please visit the
        <a href=https://github.com/etweisberg/peptoid_db_website>GitHub</a>, read the README.md, clone the code, and
        make changes. Manage your versions using Git and deploy the new application to the server by following the
        instructions in the README.md. Happy administering!
    </p>
</div>
{% endblock %}