{% extends "base.html" %} {# importing styles from bootstrap-grid.css #} {%
block styles %} {{super()}}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='bootstrap-grid.css')}}"
/>
<link rel="stylesheet" href="{{url_for('static', filename='images.css')}}" />
{% endblock %} {# home page content #} {% block app_content %}
<div class="jumbotron">
  <h1 class="display-4">
    {{ title }}
    <span class="badge badge-secondary" style="font-size: medium;"
      >{{ total }}</span
    >
  </h1>
  <p>Peptoid Data Bank - Browse peptoid structures</p>
  <hr class="my-4" />
  <p style="font-size: 1.5rem; font-weight: 300;">
    Utilize the search option to filter the database by specific
    peptoid properties
  </p>
</div>

{% if view == '2d' %}
<div class="container" style="padding-bottom: 30px;">
  <div class="row">
    <div class="col text-center">
      {% if var %}
      <a class="btn btn-default btn-lg" href={{url_for(request.endpoint, var=var, page=page, view='3d')}}>Toggle View <span class="badge">Structure</span></a>
      {% else %}
      <a class="btn btn-default btn-lg" href={{url_for(request.endpoint, page=page, view='3d')}}>Toggle View <span class="badge">Structure</span></a>
      {% endif %}
    </div>
  </div>
</div>
{% elif view == '3d' %}
<div class="container" style="padding-bottom: 30px;">
  <div class="row">
    <div class="col text-center">
      {% if var %}
      <a class="btn btn-default btn-lg" href={{url_for(request.endpoint, var=var, page=page, view='2d')}}>Toggle View <span class="badge">Diagram</span></a>
      {% else %}
      <a class="btn btn-default btn-lg" href={{url_for(request.endpoint, page=page, view='2d')}}>Toggle View <span class="badge">Diagram</span></a>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row block-center">
    {% for i in range(peptoid_codes.__len__())%} {% if i ==
    (peptoid_codes.__len__()-1) %}
    <div class="col-sm-6">
      {% else %}
      <div class="col-sm">
        {% endif %}
        <div class="header">
          <h2><a style="text-decoration : none; color : #ffffff;" href="{{ peptoid_urls[i] }}">{{ peptoid_codes[i] }}</a></h2>
        </div>
        <div class="fall-item fall-effect">
          {% if view == '3d' %}
          <img
            src="{{url_for('static', filename='peptoids/'+peptoid_codes[i][:5]+'.png')}}"
          />
          {% elif view == '2d' %}
          <img
            src="{{url_for('static', filename='peptoids/'+peptoid_codes[i]+'_2d'+'.png')}}"
          />
          {% endif %}
          <div class="mask">
            <h3>{{ peptoid_titles[i] }}</h3>
            <h4>{{ peptoid_sequences[i] }}</h4>
            <hr class="my-4" />
            <p style="font-size: 1.5rem; font-weight: 300;">
              For more information click "Read More." To view structural data
              click "Data."
            </p>
            <div class="btn-group" role="group" aria-label="Peptoid Pages">
              <a href="{{ peptoid_urls[i] }}" class="btn btn-primary"
                >Read More</a
              >
              {% if data[i] != '' %}
              <a href="{{ data[i] }}" class="btn btn-primary" target="_blank"
                >Data</a
              >
              {% else %}
              <a
                href="{{ publications[i] }}"
                class="btn btn-primary"
                target="_blank"
                >Publication</a
              >
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% if (i+1) % 2 == 0 and i != (peptoid_codes.__len__()-1)%}
    </div>
    <hr />
    <div class="row">{% endif %} {% endfor %}</div>
    <br />
    <br />
    <br />
    <div class="row block-center">
      <div class="col text-center" style="padding-bottom: 4em;">
        <div
          class="btn-group btn-group-lg"
          role="group"
          aria-label="Basic example"
          style="margin: 0 auto;"
        >
          {% if prev_url %}
          <a class="btn btn-default" href="{{prev_url}}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
          {% endif %}
          {% if next_url %}
          <a class="btn btn-default" href="{{next_url}}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
