<img
  src="{{url_for('static',filename='residues/'+residue.long_name + '.png')}}"
  class="img-responsive"
  style="display: block; margin-left: auto; margin-right: auto;"
/>
<p>{{ residue.pep_type }}</p>
<p>{{ residue.SMILES }}</p>
{% if residue.short_name != 'null' %}
  <p>{{ residue.short_name }}</p>
{% endif %}
{% if residue.monomer_structure != '' %}
  <a target = '_blank' class="btn btn-success" href = {{"https://doi.org/{doi}".format(doi = residue.monomer_structure)}}>{{residue.monomer_structure}}</a>
{% endif %}
